body {
    font-family: 'Arial', sans-serif;
    margin: 10px;
    padding: 20px 10px;
    background: #f7f7f7;
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #32cfe7;
    padding: 10px 10px;
    margin: 20px;
    border-radius: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fbfbfb;
    min-width: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(7, 7, 7);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #32cfe7;
}

.dropdown:hover .dropdown-content {
    margin: 20px;
    display: flow-root;
}

.dropdown:hover .dropbtn {
    background-color: #32cfe7;
    padding: 10px 10px;
    border-radius: 20px;

}

.btn-get-started {
    background: #0ec3ec;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-get-started:hover {
    background-color: #333;
}

.quick {
    background-color: #eef2f5;
    background-size: 10px;
    height: 10vh;
    width: 96vw;
    padding: 100px 0;
    text-align: center;
}

.quick h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.quick h1 span {
    color: #15c7d4;
}

.quick p {
    font: 20px;
    margin-bottom: 40px;
}

.buttons {
    margin-bottom: 40px;
}

.buttons a {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-watch-video {
    background: #6c757d;
    color: #fff;
}

.btn-watch-video:hover {
    background: #0c89e9;
} 

.quick-image img {
    max-width: 100%;
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #ffffff;
}

.feature {
    display: flex;
    align-items: center;
    background-color: #eaf3f9;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature-icon {
    flex: 0 0 auto;
    background-color: #d0e8f2;
    padding: 20px;
    border-radius: 8px;
    margin-right: 15px;
}

.feature-icon img {
    width: 40px;
    height: 40px;
}

.feature-icon:hover {
    background-color: #126e87;
}

.feature-content {
    flex: 1 1 auto;
}

.feature-content h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.feature-content p {
    margin: 0;
    color: #262728;
}

.strategy {
    background-color: #ffffff;
    padding: 40px 20px;
}

.con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.text-content {
    flex: 1;
    padding: 20px;
    order: 1; 
}

.image-content {
    flex: 1;
    text-align: right;
    order: 2; 
}

.image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.text-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000000;
}

.features-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.features-list li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.features-list li::before {
    content: "✔";
    color: #11afd7;
    margin-right: 10px;
}

.features-list2 {
    list-style-type: none;
    padding: 10px;
    margin: 0 0 20px 0;
    
}

.features-list2 li {
    font-size: 1rem;
    color: #000000;
    padding: 10px;
    margin: 5px;
    display: flex;
}

.features-list2 li::before {
    content: "⭐";
    margin-right: 5px;
}

.features-list3 {
    list-style-type: none;
    padding: 10px;
    margin: 0 0 20px 0;
    
}

.features-list3 li {
    font-size: 1rem;
    color: #000000;
    padding: 10px;
    margin: 5px;
    display: flex;
}

.tab-image {
    flex: 1;
    text-align: right;
    order: 3; 
    margin: 10px;
}

.tab-image img {
    max-width: 100%;
    height: 50vh;
    border-radius: 8px;
}

.strategy2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.tab-image3 {
    flex: 1;
    text-align: center;
}
.tab-image3 img {
    max-width: 100%;
    height: 50vh;
    border-radius: 8px;
}
.text {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
}
.text h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.text p {
    font-size: 1rem;
    margin-bottom: 20px;
}
.text .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #01c2ed;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.text .button:hover {
    background-color: #36383a;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #01c2ed;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background-color: #36383a;
}
.read-more {
    padding: 10px 20px;
    background: #0ec3ec;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    background-color: #36383a;

}

.logo-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 70px;
    align-items: center;
}

.logo-container img {
    max-height: 50px;
    max-width: 100px;
    object-fit: contain;
}

.card-container {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 1300px;
    width: 100%;
}
.card {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card:hover {
    background-color: #e8f6f8;
    transform: translateY(-20px);

}
.card-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #e9f5ff;
}
.card-icon img {
    width: 24px;
    height: 24px;
}
.card-content {
    flex: 1;
}
.card-title {
    font-size: 1.25rem;
    margin: 0 0 10px;
}
.card-description {
    margin: 0 0 10px;
}
.card-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
.card-link:hover {
    text-decoration: underline;
}
.pricing-table {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pricing-plan {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
}

.pricing-plan:hover {
    transform: scale(1.05);
}

.pricing-plan h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.pricing-plan .price {
    font-size: 2.5em;
    margin: 20px 0;
    color: #12c1e4;
}

.pricing-plan p {
    color: #6c757d;
}

.pricing-plan ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.pricing-plan ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.pricing-plan ul li.disabled {
    color: #8d8a8a;
    text-decoration: line-through;
}

.faq-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(251, 251, 251);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-section h2 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

details {
    margin-bottom: 10px;
    border: 1px solid #eeeaea;
    border-radius: 5px;
    overflow: hidden;
}

summary {
    padding: 15px;
    background-color: #e6eded;
    position: relative;
    list-style: none;
}

summary::after {
    content: "+";
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
}
summary:hover{
    transform: translateY(-10px);
}

details[open] summary::after {
    content: "-";
}

details p {
    padding: 15px;
    background-color: #f2f5f4;
    margin: 0;
    border-top: 1px solid #4a4a4a;
}

.testimonials-section {
    width: 100%;
    max-width: 1200px;
    margin: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-decoration: underline;
}

p {
    font-size: 1em;
    color: #000000;
    margin-bottom: 40px;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    animation: slide 9s infinite;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.testimonial {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    text-align: left;
}

.stars {
    color: #ffcc00;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.testimonial p {
    font-size: 1em;
    color: #000000;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info h3 {
    font-size: 1.2em;
    margin: 0;
}

.profile-info p {
    font-size: 0.9em;
    color: #000000;
    margin: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(0);
    }
    38% {
        transform: translateX(-100%);
    }
    71% {
        transform: translateX(-100%);
    }
    76% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-200%);
    }
}
.contact-section {
    text-align: center;
    padding: 50px 20px;
}
.contact-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.contact-item {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
}

.contact-map-form {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 4px;
}
.contact-form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #14d1e2;
    color: white;
    font-size: 16px;
}
.contact-form button:hover {
    background-color: #313233;
}

.footer {
    background-color: #f7f5f5;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h3, .footer-column h4 {
    margin-bottom: 20px;
}

.footer-column p, .footer-column ul, .footer-column form {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-column ul {
    margin-top: 10px;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #5d5d5d;
    text-decoration: none;
}

.footer-social {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.footer-social img {
    width: 30px;
    height: 30px;
}

.footer-column form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-column form button {
    padding: 10px 20px;
    border: none;
    background-color: #1cc4dd;
    color: #fff;
    border-radius: 5px;
}

.footer-column form button:hover {
    background-color: #393737;
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #b8b8b8;
    margin-top: 20px;
}